@use "src/styles/vars" as v;
.caroussel {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  &__div {
    width: 100%;
  }
  &__imgs {
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }
}
