@use "src/styles/vars" as v;
.projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__title {
    margin: 2rem;
    padding: 1rem;
    font-size: large;
    width: 100%;
    text-align: center;
  }
  &__video {
    border-radius: 20px;
    width: 100%;
    max-width: 853px;
  }
}
